<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300782445432-1kseml86ojfj2d0o8trcq64p235b0b4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300782445432-1kseml86ojfj2d0o8trcq64p235b0b4l</string>
	<key>API_KEY</key>
	<string>AIzaSyCNbuOnIsDaW_3y2SvCw1dLlDAmYmmCdec</string>
	<key>GCM_SENDER_ID</key>
	<string>300782445432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PavelM.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-30a79</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-30a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300782445432:ios:b4a8316cc2f7328dfb9e8d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-30a79.firebaseio.com</string>
</dict>
</plist>